@model BlackMarketAuctionPart2.Models.IndexViewModel
<!--
     Index.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the account managment page for the Black Market Auction House
-->

@{
    ViewBag.Title = "Manage";
}
<div class="text-center">
    <h2>Manage Account.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
</div>
