@model BlackMarketAuctionPart2.Models.IndexViewModel
<!--
     Index.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the account managment page for the Black Market Auction House
-->

@{
    ViewBag.Title = "Manage";
}

<h2>Manage Account.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
