@{
    ViewBag.Title = "About Our Super Secret Black Market Auction House!";
}

<!--
     About.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the about page for the Black Market Auction House
-->

<h2>@ViewBag.Title.</h2>

<div style="width: 750px; margin-left: 120px;">
    <p>
        Ahoy matey! so ye want to learn more about the Black Market Auction House eh? Well youve come to the right place! We sell the rarest merchandise from all the lands and seas! Its almost perfectly legal too!
        ArghArghArgh! Oh how it pleases us so when you come galevanting into our store with your pouches full of shinny gold! Course we do love seeing you scoundrels, we just love ye gold a little moar. so please feel
        welcome to visit us in our store the only thing is we cant tell you where it is.
    </p>
</div>
<div class="img1">
    <img src="~/Assets/Images/build-3.png" />
</div>
<br />
<br />
<div style="width: 750px; margin-left: 120px;">
    If you would like to contact us about potential deals or questions about our products feel free to visit our contacts page and im sure someone will eventually get to your request! depends on if there is an alliance ship to raid or not!
</div>