@{
    ViewBag.Title = "About";
}

<!--
     About.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the about page for the Black Market Auction House
-->

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We sell the rarest merchandise form all around! Perfectly legal too.</p>
