@{
    ViewBag.Title = "Contact";
}

<!--
     Contact.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the contact page for the Black Market Auction House
-->


<div class="img4"><img src="~/Assets/Images/Auction/Placeholder.gif" /> </div>
<h2>@ViewBag.Title.</h2>

<address>
    Black Market Auction House<br />
    You'll just have to find us!<br />
</address>

<address>
    <strong>Services:</strong>   <a href="mailto:Service@BlackMarket.com">Service@BlackMarket.com</a><br />
</address>

<p>
    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>     |      <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>     |     <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
</p>
<br />
<br />
<br />
<br />
<br />
<br />